<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>评论列表</title>
  <link rel="stylesheet" href="js/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/iconfont.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="js/jquery-1.12.4.min.js"></script>

  <link rel="stylesheet" href="css/jquery.pagination.css">
  <script src="js/jquery.pagination.min.js"></script>
</head>

<body>
  <div class="container-fluid">
    <div class="common_title">
      评论列表
    </div>
    <div class="container-fluid common_con">

      <table class="table table-striped table-bordered table-hover mp20">
        <thead>
          <tr>
            <th>作者</th>
            <th>评论</th>
            <th>评论在</th>
            <th>提交于</th>
            <th>状态</th>
            <th class="text-center" width="100">操作</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <div class="row text-center">
        <div id="pagination" class="page"></div>
      </div>
    </div>
  </div>
  <script>
    // 设置左侧菜单
    $('#release_btn').click(function () {
      window.parent.setMenu(0, 0);
    })
  </script>
</body>

<script src="js/template-web.js"></script>
<script>
  var baseUrl = "http:localhost:8080"
  var pageCode = 1;
</script>



<script id="list" type="text/html">
  {{each data val}}
  {{if val.state == '待审核'}}
    <tr class="danger">
  {{else}}
    <tr>
  {{/if}}
      <td>{{val.author}}</td>
      <td>{{val.content}}</td>
      <td>{{val.articleId|selecctTitle}}</td>
      <td>{{val.date}} {{val.time}}</td>
      <td>{{val.state}}</td>
      <td class="text-center">
        {{if val.state == '待审核'}}
          <a href="javascript:editTr('pass',{{val.id}});" class="btn btn-info btn-xs">批准</a>
        {{else if val.state == '已通过'}}
          <a href="javascript:editTr('reject',{{val.id}});" class="btn btn-warning btn-xs">拒绝</a>
        {{/if}}
        <a href="javascript:editTr('delete',{{val.id}});" class="btn btn-danger btn-xs">删除</a>
      </td>
    </tr>
    {{/each}}
</script>
<script>
  function loadData() {
    // 文章评论搜索
    $.get(baseUrl + "/admin/comment/comment_search", { page: pageCode }, function (res) {
      var str = template("list", res.data);
      $("tbody").html(str);
      page(res.page, res.pages);
    }, "json")
  }
  loadData();

  //设置页面当前页和总页数
  function page(page, pages) {
    $("#pagination").pagination({
      currentPage: page,
      totalPage: pages,
      callback: function (current) {
        //点击页面按钮查询跳转
        pageCode = current;
        loadData();
      }
    });
  }

  //根据id查找文章标题
  function selecctTitle(articleId) {
    $.ajax({
      //同步请求
      async: false,
      url: baseUrl + "/admin/article/search",
      data: { id: articleId },
      dataType: "json",
      success: function (res) {
        articleId = res.data.title;
      },
    });
    return articleId;
  }
</script>
<script>
  function editTr(operation, id) {
    var url = baseUrl;
    if (operation == "pass") {
      //批准
      url += "/admin/comment/pass";
    } else if (operation == "reject") {
      //拒绝
      url += "/admin/comment/reject";
    } else if (operation == "delete") {
      //删除
      url += "/admin/comment/delete";
    }
    $.post(url, { id: id }, function (res) {
      alert(res.msg);
      if (res.code == 200) {
        loadData();
      }
    }, "json");
  }
</script>

</html>